body{
    transition: all 1.0s;
    /* background-repeat: no-repeat; */
    /* background-size: 100% auto; */
}



.container{
    width: 880px;
    margin: 0px auto;
}

.wrap {
    width: 414px;
    height: 312px;
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    margin: 0px auto;
    position: relative;
    top: 100px;

}

.wrap .title {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
    color: rgb(51, 51, 51);
    text-align: center;
}

.wrap .info {
    color: rgb(102, 102, 102);
    text-align: center;
    margin-bottom: 36px;
}

.wrap .info a {
    color: rgb(52, 129, 207);
    text-decoration: none;
}

.wrap #form {
    width: 272px;
    height: 150px;
    margin: 0px auto;
    text-align: center;
}

.wrap #form .input {
    width: 268px;
    height: 38px;
    padding: 10px;
    padding-right: 0px;
    box-sizing: border-box;
    margin-bottom: 17px;
    border-radius: 3px;
    border: 1px solid rgb(214, 214, 214);
}

.wrap #form #btn1 {
    box-sizing: content-box;
    border-radius: 3px;
    width: 258px;
    height: 37px;
    border: none;
    padding: 1px 7px 2px 7px;
    background-color: rgb(136, 210, 48);
    color: white;
    font-size: 17px;
}
.wrap #form #btn2 {
    margin-top: 5px;
    box-sizing: content-box;
    border-radius: 3px;
    width: 258px;
    height: 21px;
    border: none;
    padding: 1px 7px 2px 7px;
    /* background-color: rgb(136, 210, 48); */
    color: white;
    font-size: 17px;
}
.remin{
    color: red;
}
.unremin{
    display: none;
}